@using Web.Site.WebUI.Extension.MvcHelper
@{
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />

    <title>公共服务后台</title>
    @Styles.Render("~/bundles/css/bootstrap2")
    @Styles.Render("~/bundles/css/admin")

    @RenderSection("css", false)

</head>
<body>

    <!--Header-Part-->
    <div id="header">
        <h1><a href="dashboard.html">Matrix Admin</a></h1>
        @Html.Partial("_HeaderMenu")
        @Html.Partial("_TopSearch")
    </div>
    <!--Header-Part-->

    

   

     @Html.Partial("_SidebarMenu")
    <!--main-container-part-->
    <div id="content">
        <!--BreadCrumbs-->
        @*@Html.Partial("_BreadCrumb", breadCrumbNavData)*@
        <!--BreadCrumbs-->

        <!--Body-->
        <div class="container-fluid">
            @RenderBody()
        </div>
        <!--Body-->
    </div>
    <!--end-main-container-part-->
    
    <!--Footer-part-->
    @Html.Partial("_Footer") 
    <!--end-Footer-part-->
    @Scripts.Render("~/scripts/mainJs")

    @RenderSection("scripts", required: false)
    @Html.RenderScriptBlocks()

</body>
</html>
