@using Web.Site.WebUI.Extension.MvcHelper
@{
}

<!DOCTYPE html>

<html>
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no" />
    <title>智慧项目管理</title>
    <link rel="icon" href="~/image/main/logo-mini.ico" type="image/ico">
    <meta name="keywords" content="智慧项目管理">
    <meta name="description" content="智慧项目管理">
    <meta name="author" content="wen.wen">
    @Styles.Render("~/bundles/css/cssBase")
</head>
<body>
    @Scripts.Render("~/bundles/scripts/jsBase")
    @Scripts.Render("~/bundles/scripts/jsNotify")

    <div style="background:#FCFCFC;width:100%;height:100%">
        <!--Header-Part-->
        @*@Html.Partial("_HeaderMenu")*@
        @Html.Partial("_HeaderMenu")
        <!--Header-Part-->


        @Html.Partial("_SidebarMenu")
        <!--main-container-part-->
        <main class="lyear-layout-content">
            <div class="container-fluid">
                @RenderBody()
            </div>
        </main>
        <!--end-main-container-part-->
    </div>



    @RenderSection("scripts", required: false)
    @Html.RenderScriptBlocks()
</body>
</html>
